@use "sass:map";

// ============================== //
// #region abstracts/_breakpoints //
// ============================== //

$breakpoints: (
    xs: 20em,
    sm: 30em,
    md: 45em,
    lg: 65em,
    xl: 80em,
);

// ============================== //
// #endregion                     //
// ============================== //